*.o
*.so
*.cmd
*.d
*.ko
*.pyc
*.mod.c
*.mod
*.db
Module.symvers
test_files/*make
test_files/tests
test_files/passfd_client
modules.order
.tmp_versions/*
*.swp
*.txt
.cache.mk
tls_common.o.ur-safe
tls_inet.o.ur-safe
tls_upgrade.o.ur-safe
.vscode/*
